<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <!-- Title-->
  <title>俳優鈴木宏幸プロフィール</title>
  <!-- Description-->
  <meta name="description" content="Personal Portfolio Template">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
  <!-- Web fonts-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;display=swap" rel="stylesheet">
  <!-- CSS vendors-->
  <link rel="stylesheet" href="css/bootstrap-custom.css">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="css/tiny-slider.css">
  <link rel="stylesheet" href="css/lity.min.css">
  <link rel="stylesheet" href="css/simplebar.min.css">
  <link rel="stylesheet" href="css/jquery.mb.YTPlayer.min.css">
  <!-- Main CSS-->
  <link rel="stylesheet" href="css/main.css">
  <!-- CSS Color scheme-->
  <link id="color-scheme" rel="stylesheet" href="css/colors/main-darkgreen.css">
  <!-- Custom CSS (Add your custom CSS styles to this file)-->
  <link rel="stylesheet" href="css/custom.css">
</head>

<body class="theme-dark">
  <!-- Preloader-->
  <div class="preloader">
    <div class="preloader-block">
      <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
    </div>
  </div>
  <div id="overlay-effect"></div>
  <!-- Navbar-->
  <nav class="navbar-expand-md navbar fixed-top" id="navbar"><a class="navbar-brand" data-scroll="" href="#home-area">
      <!-- Navbar Logo-->
      <!-- <img class="img-fluid" src="img/img-kitzu-logo.png" alt="Logo"> -->
    </a>
    <span class="navbar-menu ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button"><span class="btn-line"></span></span>
    <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <!-- Navbar menu-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#about">プロフィール</a></li>
        <li class="nav-item"><a class="nav-link" href="#resume">出演作</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="#portfolio">ポートフォリオ</a></li> -->
        <li class="nav-item"><a class="nav-link" href="https://actrip.jp/">演技ブログ</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">お問い合わせ</a></li>
      </ul>
    </div>
  </nav>
  <!-- Home-->
  <section class="home-area element-cover-bg" id="home" style="background-image:url(img/actor\ site\ face1.png)">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 home-content text-center">
          <h1 class="home-name">Hiroyuki <span>Suzuki</span></h1>
          <h4 class="cd-headline clip home-headline">I’m <span class="cd-words-wrapper single-headline"><b class="is-visible">an actor</b><b>a traveler</b></span></h4>
        </div>
      </div>
    </div>
    <div class="fixed-wrapper">
      <!-- Languages list-->
      <div class="fixed-block block-left">
        <!-- <ul class="list-unstyled languages-list">
          <li><a href="#0"><span class="single-language">ENG</span></a></li>
          <li><a href="#0"><span class="single-language">JAP</span></a></li>
        </ul> -->
      </div>
      <!-- Social media icons-->
      <div class="fixed-block block-right">
        <ul class="list-unstyled social-icons">
          <li><a href="https://twitter.com/hir_o_o_o_o_"><i class="icon ion-logo-twitter"></i></a></li>
          <!--<li><a href="#0"><i class="icon ion-logo-facebook"></i></a></li>
          <li><a href="#0"><i class="icon ion-logo-linkedin"></i></a></li>
          <li><a href="#0"><i class="icon ion-logo-github"></i></a></li>-->
          <li><a href="https://instagram.com/hir_o_o_o_o_"><i class="icon ion-logo-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- About lightbox-->
  <div class="lightbox-wrapper" id="about" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description"></p>
                  <h2 class="section-title">About</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail" src="img/IMG_37571.jpg" alt="About Picture"></div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h2 class="content-subtitle">プロフィール</h2>
                    <h6 class="content-title">
                      </h6>
                    <div class="content-description">
                      <p>
                        名前　鈴木宏幸<br>
                        性別　男性<br>
                        生年月日　1984/7/27 36歳<br>
                        住所　東京都<br>
                        身長　173cm<br> 
                        体重　64kg<br>
                        特技　英語、webサイト製作、シナリオライティング<br>
                       </p>
                      <p>  
                        略歴　24歳から俳優業を始め、今年で13年目。フリーの俳優として活動している。<br>
                        アイゼという演技団体にて練習を重ね、スタニスラフスキーシステム、メソッド演技、マイケルチェーホフテクニックを学ぶ。<br>
                        2014年からはバックパッカーとして世界を旅し40カ国を歩く。<br>
                        様々なオーディションを受け、映画、TVドラマ、舞台に出演。<br>
                        2020年には、自らラジオドラマを製作し、脚本と主演も務めた。<br>
                        2021年4月～ラジオフチューズ及びインターネットラジオにて日本全国で放送。<br>
                        現在、単発の作品に出演しつつ、演技のテクニックなどを伝えるブログを執筆している。
                      </p>
                    </div>
                  </div>
                  <div class="content-block">
                    <h2 class="content-subtitle"style="margin-top:30px;">仕事への姿勢</h2>
                    <h6 class="content-title">
                      </h6>
                    <div class="content-description">
                      <p>
                      僕は、俳優活動と基礎的な演技のトレーニングを長年積み重ねてきました。</p>
                      <p>
                      今までいただいたどの役も、その時の自分にできる限りの役作りをしてきました。例えたった一言しかセリフが無い役でも、その撮影までの一か月間、少しでも役に近づこうと役の背景を考え、どんな話し方・動き方をするキャラクターなのかをノートに書き続け、動きや発声、脚本の読み取りを繰り返し役作りをしました。</p>
                      <p>
                      当然一言だけのセリフでは、こんな苦労は映像には映りませんし、観客にも届きません。</p>
                      <p>
                      ただ、役者である以上、出来るだけ役に近づこうと努力するのが自分の仕事だと思うのです。</p>
                      <p>
                      役作りに関しては、自信を持って「愚直」だと言い切れます。<br>
                      今までの作品で協同させていただいた監督や共演者の方にもこれは納得していただけると確信しています。</p>
                      <p>
                      しかしその反面、正直申しますと短い期間で「それっぽく」演じるということは苦手です。<br>
                      例えば、「明日撮影だけどこんな感じの役でお願いできる？」といったオファーをいただいても平均並みの演技しかできないと思います。</p>
                      <p>
                      その代わりに、しっかり準備期間をいただけた場合、俳優としてどこまでも役作りに全力を注ぎます。この鈴木宏幸にオファーしてよかったと思えるような役を必ず用意してきます。</p>
                      <p style="font-size:1.2rem; color:white;"><b>ちゃんと役作りをしてちゃんと演技をする俳優</b>です。</p>
                      <p>よろしくお願いします。</p>
                      <div class="d-block d-sm-flex align-items-center">
                        <!--<a class="btn content-download button-main button-scheme" href="#0" role="button" >Download CV</a>-->
                        <ul class="list-unstyled list-inline content-follow">
                          <li class="list-inline-item"><a href="https://twitter.com/hir_o_o_o_o_"><i class="icon ion-logo-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="https://instagram.com/hir_o_o_o_o_"><i class="icon ion-logo-instagram"></i></a></li>
                          <!-- <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-linkedin"></i></a></li> 
                          <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-github"></i></a></li>
                          <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-facebook"></i></a></li>-->
                        </ul>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <!-- Services section-->
            <div class="services-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <!-- <p class="section-description">お受けできる仕事</p> -->
                    <h2 class="section-title">お受けできる仕事</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-logo-css3"></i>
                    <h6 class="service-title">映像作品</h6>
                    <p class="service-description">映画・TVドラマ・ネット配信ドラマ・ミュージックビデオ・VP・CMなど様々な媒体に出演できます。素早いお返事をモットーにしていますのでお気軽にご連絡ください。</p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-md-images"></i>
                    <h6 class="service-title">舞台作品</h6>
                    <p class="service-description">ドラマ・コメディどちらでも可能です。幅広いキャラクター作りで色々な役に対応します。</p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-logo-ionic"></i>
                    <h6 class="service-title">個人演技コーチ</h6>
                    <p class="service-description">薄っぺらい演技から脱却するには、しっかりした演技技術を学ぶことが必要です。様々な演技テクニックを学んできた経験から、より深く役作りができるように演技を教えます。</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Testimonials section-->
            <div class="testimonials-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <!-- <p class="section-description">What my clients think about me</p> -->
                    <h2 class="section-title">関係者からのコメント</h2>
                  </div>
                </div>
              </div>
              <div class="my-slider">
                工事中
                <!-- ユーザーレビュー -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Resume lightbox-->
  <div class="lightbox-wrapper" id="resume" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <!-- <p class="section-description">Check out my Resume</p> -->
                  <h2 class="section-title">出演作</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Resume section-->
            <div class="resume-section single-section">
              <div class="row">
                <!-- Experience part-->
                <div class="col-12 col-md-6">
                  <div class="col-block experience">
                    <h3 class="col-title">出演作</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">仮面ライダーディケイド　執事役</h5><span class="item-details">TVドラマ / 2009</span>
                      <!-- <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quo repudiandae.</p> -->
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">サイキッカーZ　ジョニー役</h5><span class="item-details">ショートフィルム / 2016</span>
                      <p class="item-description">つくばショートムービーコンテスト観客賞、四日市映画祭グランプリ、OKAYAMAショートムービー祭ゴールデンフラスコ賞・観客賞</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">タイムカプセル　如月役</h5><span class="item-details">自主製作長編映画 / 2017</span>
                      <!-- <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quo repudiandae.</p> -->
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">BURST　戸倉学役</h5><span class="item-details">舞台 / 2017</span>
                      <!-- <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quo repudiandae.</p> -->
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">多動力-THE MOVIE-　横山克馬役</h5><span class="item-details">商業長編映画 / 2018</span>
                      <p class="item-description">堀江貴文（ホリエモン）原作</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">pop thank culture you　ヒロ役 (主演)</h5><span class="item-details">スポ根e-sportsラジオドラマ / 2020</span>
                      <p class="item-description">製作・脚本・主演 2021/4~　ラジオフチューズ及びインターネットにて全国放送 <a>https://soundcloud.com/ptcy/</a></p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">The Father　役名無し (主演)</h5><span class="item-details">ショートフィルム / 2021</span>
                      <p class="item-description">ニコンフォトコンテスト動画部門出品</p>
                    </div>
                  </div>
                </div>
                <!-- Education part-->
                <div class="col-12 col-md-6">
                  <div class="col-block education">
                    <h3 class="col-title">その他演技教育など</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">アイゼワークショップ</h5><span class="item-details">2009-2019</span>
                      <p class="item-description">メソッド演技、スタニスラフスキーシステム、チェーホフテクニークを学ぶ</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">バックパッカー</h5><span class="item-details">2014-2015</span>
                      <p class="item-description">世界40カ国を旅する。マイナーな国メイン。北極、未承認国、パキスタン、イラン、マダガスカル等</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">MLS</h5><span class="item-details">2018-2019</span>
                      <p class="item-description">英会話俳優コース 2019/3に英語劇にソロ出演</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">マイケルチェーホフ東京</h5><span class="item-details">2021-現在</span>
                      <p class="item-description">チェーホフテクニークをより深く学んでいる</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Skills section-->
            <div class="skills-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <!-- <p class="section-description">My level of knowledge in some tools</p> -->
                    <h2 class="section-title">スキル</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="80">
                    <div class="skill-info"><span class="skill-name">演技</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="85">
                    <div class="skill-info"><span class="skill-name">旅</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="75">
                    <div class="skill-info"><span class="skill-name">英語</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="70">
                    <div class="skill-info"><span class="skill-name">シナリオライティング</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="60">
                    <div class="skill-info"><span class="skill-name">webサイト制作</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="65">
                    <div class="skill-info"><span class="skill-name">webマーケティング</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- video section -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio lightbox-->
  <div class="lightbox-wrapper" id="portfolio" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Showcasing some of my best work</p>
                  <h2 class="section-title">Portfolio</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Portfolio section-->
            <div class="portfolio-section single-section">
              <div class="row">
                <!-- Filter nav-->
                <div class="col-12">
                  <ul class="list-inline filter-control" role="group" aria-label="Filter Control">
                    <li class="list-inline-item tab-active" data-filter="*">All</li>
                    <li class="list-inline-item" data-filter=".brand">Brand</li>
                    <li class="list-inline-item" data-filter=".design">Design</li>
                    <li class="list-inline-item" data-filter=".photos">Photos</li>
                  </ul>
                </div>
              </div>
              <!-- Thumbnail list-->
              <div class="portfolio-grid row">
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="img/item-1.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-1.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Label Tag Mockup</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="img/item-2.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-2.jpg">
                      <div class="item-content">
                        <h6 class="content-title">3D Bag Mockup</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="img/item-3.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-3.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Modern Bag Design</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="img/item-4.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-4.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Coffee Cup Design</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="img/item-5.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-5.jpg">
                      <div class="item-content">
                        <h6 class="content-title">T-Shirt Design</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="img/item-6.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-6.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Packaging Box Mockup</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog lightbox-->
  <div class="lightbox-wrapper" id="blog" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Check out my latest blog posts</p>
                  <h2 class="section-title">My Blog</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Blog section-->
            <div class="blog-section single-section">
              <div class="row justify-content-center">
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="img/post-1.jpg" alt="Blog post"><span class="content-date">11 Dec, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Top tools for Photographers</h5>
                      </a>
                      <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="img/post-2.jpg" alt="Blog post"><span class="content-date">12 Aug, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Take a tour of my office</h5>
                      </a>
                      <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="img/post-3.jpg" alt="Blog post"><span class="content-date">4 Feb, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">How i became a Web Designer</h5>
                      </a>
                      <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                    </div>
                  </div>
                </div><!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="img/post-4.jpg" alt="Blog post"><span class="content-date">11 Dec, 19</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">How to improve work performance</h5>
                      </a>
                      <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="img/post-5.jpg" alt="Blog post"><span class="content-date">15 Nov, 19</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">How to work from home</h5>
                      </a>
                      <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="img/post-6.jpg" alt="Blog post"><span class="content-date">8 Aug, 19</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">How to enjoy your business trip</h5>
                      </a>
                      <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact lightbox-->
  <div class="lightbox-wrapper" id="contact" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <!-- <p class="section-description">Feel free to contact me anytimes</p> -->
                  <h2 class="section-title">お問い合わせ</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Contact section-->
            <div class="contact-section single-section">
              <div class="row">
                <!-- Contact form-->
                <div class="col-12 col-lg-7">
                  <form class="contact-form" id="contact-form" action="php/contact.php">
                    <h4 class="content-title">お問い合わせ内容</h4>
                    <div class="row">
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-name" type="text" name="name" placeholder="名前" required=""></div>
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-email" type="email" name="email" placeholder="メールアドレス" required=""></div>
                      <div class="col-12 form-group"><input class="form-control" id="contact-subject" type="text" name="subject" placeholder="題名" required=""></div>
                      <div class="col-12 form-group form-message"><textarea class="form-control" id="contact-message" name="message" placeholder="内容" rows="5" required=""></textarea></div>
                      <div class="col-12 form-submit"><button class="btn button-main button-scheme" id="contact-submit" type="submit">送信</button>
                        <p class="contact-feedback"></p>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Contact info-->
                <div class="col-12 col-lg-5">
                  <div class="contact-info">
                    <h4 class="content-title">インフォメーション</h4>
                    <!-- <p class="info-description">Always available for freelance work if the right project comes along, Feel free to contact me!</p> -->
                    <ul class="list-unstyled list-info">
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-logo-ionic"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">名前</h6><span class="info-value">鈴木宏幸</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-map"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">所在地</h6><span class="info-value">東京都</span>
                          </div>
                        </div>
                      </li>
                      <!-- <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-call"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Call Me</h6><span class="info-value"><a href="tel:+441632967704">+44 1632 967704</a></span>
                          </div>
                        </div>
                      </li> -->
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-send"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">メールアドレス</h6><span class="info-value"><a href="mailto:@acting.hiro27@gmail.com">acting.hiro27@gmail.com</a></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/animatedModal.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/lity.min.js"></script>
  <script src="js/simplebar.min.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>
  <script src="js/main.js"></script>
  <!-- Custom JS (Add your custom JS scripts to this file)-->
  <script src="js/custom.js"></script>
</body>

</html>